.continuar-button {
    box-sizing: border-box; /* Agrega esta línea */
    width: 300px;
    padding: 10px;
    background-color: #b93a3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  /* Agrega esta línea */
  }
  
.continuar-button:hover {
  background-color: #a82c31;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);  /* Agrega esta línea */
}

  
