.identificacion-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.identificacion-input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  