.register-form-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.register-input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  